flow.json
[
    {
        "id": "8a0f5910.0510c",
        "type": "tab",
        "label": "S85",
        "disabled": false,
        "info": ""
    },
    {
        "id": "23fb8559.874cd2",
        "type": "serial in",
        "z": "8a0f5910.0510c",
        "name": "",
        "serial": "6bc1a101.732738",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "b0e30864.637618",
                "57db5f44.f69d4"
            ]
        ]
    },
    {
        "id": "201c7cfc.27436c",
        "type": "debug",
        "z": "8a0f5910.0510c",
        "name": "",
        "active": false,
        "console": false,
        "complete": "false",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "50c6bc14.552464",
        "type": "inject",
        "z": "8a0f5910.0510c",
        "name": "",
        "topic": "",
        "payload": "[64 , 131, 239]",
        "payloadType": "bin",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 182,
        "y": 362,
        "wires": [
            [
                "b0e30864.637618"
            ]
        ]
    },
    {
        "id": "b0e30864.637618",
        "type": "function",
        "z": "8a0f5910.0510c",
        "name": "Arrange datapackage to binary string",
        "func": "var binary0 = msg.payload[0].toString(2);\nvar binary1 = msg.payload[1].toString(2);\nvar binary2 = msg.payload[2].toString(2);\nvar binaryString = binary0+binary1+binary2;\nmsg.payload = '0'+binary0+binary1+binary2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "7926d483.d3f7b4",
                "36760922.125f96"
            ]
        ]
    },
    {
        "id": "7926d483.d3f7b4",
        "type": "function",
        "z": "8a0f5910.0510c",
        "name": "Sort binary and make decimal",
        "func": "\nvar c = msg.payload;\nvar binaryArray=[];\nvar i = 0;\nvar binaryString=0;\nvar binaryValue=0;\n\n//Arrange binary string due to rules for Datalogic S85 sensor\nfor(var i=4;i<8;i++){\n    binaryArray.push(c[i]);\n}\nfor(var i=10;i<=15;i++){\n    binaryArray.push(c[i]);\n}\nfor(var i=18;i<=23;i++){\n    binaryArray.push(c[i]);\n}\n\n\n\n\n//MAKE BINARY TO DECIMAL BY USING 2^i BITSHIFT RULE!\n\n//Invert array values, end element to beginning\nvar invertbinaryArray=[];\nfor(var i=0;i<16;i++){\n    invertbinaryArray[i]=binaryArray[15-i];\n}\n\n//Binary to decimal\nfor(var i=0;i<16;i=i+1){\n    binaryValue += (Math.pow(2,i))*Number(invertbinaryArray[i]);\n}\n\n\nmsg.payload  = binaryValue;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552,
        "y": 345,
        "wires": [
            [
                "201c7cfc.27436c",
                "bd687f1c.4a4378",
                "a05203ca.afd428",
                "77945410.a7b8ac"
            ]
        ]
    },
    {
        "id": "77945410.a7b8ac",
        "type": "file",
        "z": "8a0f5910.0510c",
        "name": "",
        "filename": "s85firmwareUpdate1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 750,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "bd687f1c.4a4378",
        "type": "function",
        "z": "8a0f5910.0510c",
        "name": "If below 1800",
        "func": "if(msg.payload<1800){\n\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 794,
        "y": 291,
        "wires": [
            [
                "efdbb824.3537c8",
                "b825fa93.f2c2"
            ]
        ]
    },
    {
        "id": "3ce86436.ce4efc",
        "type": "debug",
        "z": "8a0f5910.0510c",
        "name": "",
        "active": false,
        "console": false,
        "complete": "false",
        "x": 1211,
        "y": 330,
        "wires": []
    },
    {
        "id": "efdbb824.3537c8",
        "type": "ui_text",
        "z": "8a0f5910.0510c",
        "group": "f3d82fe3.2dc7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Value below 1800",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 947,
        "y": 165,
        "wires": []
    },
    {
        "id": "b825fa93.f2c2",
        "type": "function",
        "z": "8a0f5910.0510c",
        "name": "toString",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 936,
        "y": 370,
        "wires": [
            [
                "3ce86436.ce4efc",
                "b68fd6c9.02ede8",
                "b893e94.2a01c98"
            ]
        ]
    },
    {
        "id": "b68fd6c9.02ede8",
        "type": "counter",
        "z": "8a0f5910.0510c",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 991,
        "y": 461,
        "wires": [
            [
                "279a5a1b.477886"
            ]
        ]
    },
    {
        "id": "279a5a1b.477886",
        "type": "change",
        "z": "8a0f5910.0510c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "count",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1178,
        "y": 503,
        "wires": [
            [
                "cdb1ba0f.33b0f8"
            ]
        ]
    },
    {
        "id": "cdb1ba0f.33b0f8",
        "type": "ui_text",
        "z": "8a0f5910.0510c",
        "group": "f3d82fe3.2dc7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Below 1800 (count)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1497.0000381469727,
        "y": 484.00004386901855,
        "wires": []
    },
    {
        "id": "a05203ca.afd428",
        "type": "ui_text",
        "z": "8a0f5910.0510c",
        "group": "f3d82fe3.2dc7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1093,
        "y": 668,
        "wires": []
    },
    {
        "id": "cff0e70d.e4fd5",
        "type": "ui_audio",
        "z": "8a0f5910.0510c",
        "name": "",
        "group": "f3d82fe3.2dc7d",
        "voice": "en-US",
        "always": true,
        "x": 1460,
        "y": 160,
        "wires": []
    },
    {
        "id": "b893e94.2a01c98",
        "type": "trigger",
        "z": "8a0f5910.0510c",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "2000",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "cff0e70d.e4fd5"
            ]
        ]
    },
    {
        "id": "b4f6b49b.b5e1",
        "type": "ui_button",
        "z": "8a0f5910.0510c",
        "name": "",
        "group": "f3d82fe3.2dc7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset counter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 581,
        "y": 141,
        "wires": [
            [
                "f1a2681c.ba611",
                "dde43e0.b98fcc",
                "21a647f6.b91868"
            ]
        ]
    },
    {
        "id": "f1a2681c.ba611",
        "type": "change",
        "z": "8a0f5910.0510c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 787,
        "y": 226,
        "wires": [
            [
                "b68fd6c9.02ede8"
            ]
        ]
    },
    {
        "id": "eef121f2.8c24a",
        "type": "ui_text",
        "z": "8a0f5910.0510c",
        "group": "f3d82fe3.2dc7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter reset time",
        "format": "{{msg.mytime}}",
        "layout": "row-spread",
        "x": 1170,
        "y": 60,
        "wires": []
    },
    {
        "id": "22c97c43.8c99d4",
        "type": "ui_audio",
        "z": "8a0f5910.0510c",
        "name": "",
        "group": "f3d82fe3.2dc7d",
        "voice": "en-US",
        "always": true,
        "x": 892,
        "y": 42,
        "wires": []
    },
    {
        "id": "21a647f6.b91868",
        "type": "trigger",
        "z": "8a0f5910.0510c",
        "op1": "",
        "op2": "Counter and timer reset",
        "op1type": "nul",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 688,
        "y": 75,
        "wires": [
            [
                "22c97c43.8c99d4"
            ]
        ]
    },
    {
        "id": "dde43e0.b98fcc",
        "type": "simpletime",
        "z": "8a0f5910.0510c",
        "name": "",
        "x": 885,
        "y": 83,
        "wires": [
            [
                "eef121f2.8c24a"
            ]
        ]
    },
    {
        "id": "57db5f44.f69d4",
        "type": "ui_text",
        "z": "8a0f5910.0510c",
        "group": "f3d82fe3.2dc7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current String",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "5fa9398a.b7f6b",
        "type": "serial out",
        "z": "8a0f5910.0510c",
        "name": "",
        "serial": "fca0f7c4.d3b6f",
        "x": 545,
        "y": 469,
        "wires": []
    },
    {
        "id": "691e680d.d011a",
        "type": "inject",
        "z": "8a0f5910.0510c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 136,
        "y": 462,
        "wires": [
            [
                "948348.828434b8"
            ]
        ]
    },
    {
        "id": "948348.828434b8",
        "type": "function",
        "z": "8a0f5910.0510c",
        "name": "",
        "func": "msg.payload = new Buffer(\"\\x40\\x43\\x01\\x00\\x01\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 256,
        "y": 587,
        "wires": [
            [
                "5fa9398a.b7f6b",
                "36760922.125f96"
            ]
        ]
    },
    {
        "id": "36760922.125f96",
        "type": "debug",
        "z": "8a0f5910.0510c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 478,
        "y": 649,
        "wires": []
    },
    {
        "id": "6bc1a101.732738",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "3",
        "bin": "bin",
        "out": "count",
        "addchar": true,
        "responsetimeout": ""
    },
    {
        "id": "f3d82fe3.2dc7d",
        "type": "ui_group",
        "z": "",
        "name": "Reading sensor values",
        "tab": "93159ea.78407e",
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "fca0f7c4.d3b6f",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "93159ea.78407e",
        "type": "ui_tab",
        "z": "",
        "name": "S85",
        "icon": "dashboard"
    }
]
